@import '_vars'

@font-face
  font-family $font-family-regular
  src url('~/static/fonts/TitilliumWeb-Regular.ttf')

@font-face
  font-family $font-family-light
  src url('~/static/fonts/TitilliumWeb-Light.ttf')

@font-face
  font-family $font-family-semibold
  src url('~/static/fonts/TitilliumWeb-SemiBold.ttf')